<div ng-controller="competitorCtrl as vm">
    <!-- NAVBAR -->
    <nav class="navbar navbar-default" role="navigation" id="main-nav">
        <div class="container-fluid">
            <div class="container">
            <div class="row">
                <div class="col-sm-1 col-xs-2">
                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-default glyphicon glyphicon-chevron-left" href="#/leaderboard"></a>
                    </div>
                </div>

                <div class="col-sm-7 col-xs-12">
                    <form class="navbar-form" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control search" placeholder="Search Skater" ng-model="search.name">
                        </div>
                    </form>
                </div>
                
                <div class="col-sm-4 col-xs-12 skater-profile">
                    <img class="pull-left" ng-src="{{vm.competitor.picture}}">
                    <h4 ng-repeat="evName in vm.competitor.names">{{evName}}</h4>
                </div>
            </div>
            </div>
        </div>
    </nav>
    <!-- END NAVBAR -->
        
    <!-- MAIN CONTENT -->
    <div class="container">
    <div class="row">

        <!-- VIDEO CONTENT -->
        <div class="col-md-8">
                
            <div class="dropdown dropdown-justified">
                <a class="btn-block btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">Filter Specific Move <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li role="presentation"><a role="menuitem" tabindex="0" ng-click="vm.gotoOverview()">Overview</a></li>
                    <li role="presentation" class="divider"></li>
                    <li role="presentation" ng-repeat="evMove in vm.moves"><a role="menuitem" tabindex="{{$index}}" ng-click="vm.gotoMove(evMove)">{{evMove.move_name + ' ' + evMove.move_id}}</a></li>
                </ul>
            </div>
                
            <center><img class="video-temp" ng-src="{{vm.competitor.overview.video_url}}"></center>
        </div>
        <!-- end VIDEO CONTENT  -->

        <!-- SIDEBAR-->
        <div class="col-md-4">
            <ul class="list">
                <li class="row" ng-repeat="evCompetitor in vm.competitors | orderBy:vm.sortingpredicate:vm.reverseSort | filter:{names: search.name}" ng-click="vm.competitorSelected(evCompetitor)">
                    <div class="col-xs-4">
                        <div class="row">
                            <img class="col-xs-3" ng-src="{{evCompetitor.picture}}" />
                            <center class="col-xs-6" ng-repeat="evName in evCompetitor.names">{{evName}}</center>
                        </div>
                    </div>
                    <ul class="list">
                        <li class="col-xs-2" ng-repeat="evOverviewStat in vm.OverviewStats.stats_tracked | limitTo:vm.maxNumListViewStats">
                            <center>{{vm.parseOverviewStats(evOverviewStat.stat_id, evCompetitor)}}</center>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="list">
                <li ng-repeat="evOverviewStat in vm.OverviewStats.stats_tracked | limitTo:vm.maxNumListViewStats">
                    <center>
                        <h3>{{evOverviewStat.stat_name}}</h3>
                        <h3>{{vm.getStatValue(evOverviewStat.stat_id)}}</h3>
                    </center>
                </li>
            </ul>
        </div>
        <!-- end SIDEBAR  -->

    </div>
    </div>
    <!-- end MAIN CONTENT  -->
</div>

