<div ng-controller="competitorCtrl as vm">
    <!-- NAVBAR -->
    <nav class="navbar navbar-default" role="navigation" id="main-nav">
        <div class="container-fluid">
            <div class="container">

            <div class="row">
                <div class="col-lg-12">
                <ul class="nav navbar-nav">
                    <li><a href="#/leaderboard"><i class="glyphicon glyphicon-chevron-left"></i></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <div class="skater-image-small pull-left"><img class="pull-left" ng-src="{{vm.competitor.picture}}"></div>
                            <span ng-repeat="evName in vm.competitor.names">{{evName}}</span> <b class="caret"></b></a>

                        <div class="dropdown-menu dropdown-menu-search">
                            <form class="navbar-form" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control search" placeholder="Search Skater" ng-model="search.name" ng-click="vm.preventClose($event)">
                                </div>

                                <div>
                                    <ul class="list">
                                        <li ng-repeat="evCompetitor in vm.competitors | filter:{names: search.name}" ng-click="vm.gotoCompetitorOverview(evCompetitor)"
                                            ng-show="$index <= 2 && search.name">
                                                
                                                    <div class="skater-image pull-left"><img ng-src="{{evCompetitor.picture}}" /></div>
                                                    <div class="skater-name" ng-repeat="evName in evCompetitor.names">{{evName}}</div>
                                                
                                        </li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{vm.curMove}} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a role="menuitem" tabindex="0" ng-click="vm.gotoOverview()">Overview</a></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation" ng-repeat="evMove in vm.moves"><a role="menuitem" tabindex="{{$index}}" ng-click="vm.gotoMove(evMove)">{{evMove.move_name}}</a></li>
                        </ul>
                    <li>
                </ul>
                </div>
                <!--                 
                <div class="col-lg-6">
                    <form class="navbar-form" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control search" placeholder="Quick Search Skater" ng-model="search.name">
                        </div>
                    </form>
                </div> -->
            </div>
    </nav>
    <!-- END NAVBAR -->
        
    <!-- MAIN CONTENT -->
    <div class="container" id="section-competitor">
    <div class="row">

        <!-- VIDEO CONTENT -->
        <div class="col-lg-8">
            <img class="video-temp" ng-src="{{vm.competitor.overview.video_url}}">
        </div>
        <!-- end VIDEO CONTENT  -->

        <!-- SIDEBAR-->
        <div class="col-lg-4 sidebar">
            <ul class="list-header">
                <li>Overview</li>
            </ul>

            <!--<ul class="list">
                <li class="row" ng-repeat="evCompetitor in vm.competitors | orderBy:vm.sortingpredicate:vm.reverseSort | filter:{names: search.name}" ng-click="vm.gotoCompetitor(evCompetitor)">
                    <div class="col-xs-4">
                        <div class="row">
                            <img class="col-xs-3" ng-src="{{evCompetitor.picture}}" />
                            <center class="col-xs-6" ng-repeat="evName in evCompetitor.names">{{evName}}</center>
                        </div>
                    </div>
                    <ul class="list">
                        <li class="col-xs-2" ng-repeat="evOverviewStat in vm.OverviewStats.stats_tracked | limitTo:vm.maxNumListViewStats">
                            <center>{{vm.parseOverviewStats(evOverviewStat.stat_id, evCompetitor)}}</center>
                        </li>
                    </ul>
                </li>
            </ul>-->

            <ul class="list">
                <li ng-repeat="evOverviewStat in vm.OverviewStats.stats_tracked | limitTo:vm.maxNumListViewStats">
                    <div class="{{evOverviewStat.stat_id}}">

                        <span>{{evOverviewStat.stat_name}}</span>
                        <h3>{{vm.getStatValue(evOverviewStat.stat_id)}}</h3>
                    </div>
                </li>
            </ul>
        </div>
        <!-- end SIDEBAR  -->

    </div>
    </div>
    <!-- end MAIN CONTENT  -->
</div>

