<div ng-controller="leaderboardCtrl as vm">

    <div id="skater-list">

        <!-- NAVBAR -->
        <nav class="navbar navbar-default" role="navigation" id="main-nav">
            <div class="container-fluid">
                <div class="container">
                <div class="row">
                    <div class="col-lg-7">

                        <!-- NEW -->
                        <ul class="nav navbar-nav">
                            
                            <li><a href="#"><i class="glyphicon glyphicon-chevron-left"></i></a></li>

                            <!-- current event -->
                            <li class="dropdown dropdown-long"><a href="#" class="dropdown-toggle disabled" data-toggle="dropdown">{{vm.eventName}} <b class="caret"></b></a>
<!--                             <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="ev in vm.competition"><a href="#">{{ev.event_name}}</a></li>
                            </ul> -->
                            <div class="dropdown-menu">
                                <div ng-repeat="ev in vm.competition"><a href="#">{{ev.event_name}}</a></div>
                            </div>
                            </li>

                            <!-- current event programs -->
                            <li class="dropdown"><a href="#" class="dropdown-toggle disabled" data-toggle="dropdown">{{vm.curProgramName}} <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="ev in vm.programs" ng-click="vm.gotoLeaderBoard($index)"><a href="#">{{ev.program_name}}</a></li>
                            </ul>
                            </li>

                            <!-- category -->
                            <li class="dropdown"><a href="#" class="dropdown-toggle disabled" data-toggle="dropdown">Categories <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="evCat in vm.categories"><a role="menuitem" tabindex="{{$index}}" ng-click="vm.categoryChanged($index)">{{evCat.cat_name}}</a></li>
                            </ul>
                            </li>
                        </ul>
                        <!--end NEW -->

                        <div class="btn-group">
                            <div class="btn btn-default active view-list">List</div>
                            <div class="btn btn-default disabled view-graph">Graph</div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <form class="navbar-form" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control search" placeholder="Search Skater" ng-model="search.name">
                            </div>
                        </form>
                    </div>

                </div><!-- !end row -->
                </div><!-- !end container -->
            </div>
        </nav>
        <!-- END NAVBAR -->

        <!-- FILTERED LIST -->
        <div class="container" id="section-filterlist" ng-class="{'pairs':vm.isPairEvent()}">
            <ul class="list-header row">
                <li class="col-lg-4" ng-click="vm.changeSortingPredicate('names', 0)" ng-class="{'selected':vm.isCurSortingPredicate('names')}">
                    Competitor(s)<span class="caret" ng-class="{'caret-reversed': vm.reverseSort}"></span>
                </li>
                <li class="col-lg-2" ng-repeat="evCatStat in vm.OverviewStats.stats_tracked  | limitTo:vm.maxNumListViewStats" ng-click="vm.changeSortingPredicate(evCatStat.stat_id)" ng-class="{'selected':vm.isCurSortingPredicate(evCatStat.stat_id)}">
                    {{evCatStat.stat_name}}<span class="caret" ng-class="{'caret-reversed': vm.reverseSort}"></span>
                </li>
            </ul>

            <ul class="list">
                <li class="row" ng-repeat="evCompetitor in vm.competitors | orderBy:vm.sortingpredicate:vm.reverseSort | filter:{names: search.name}" ng-click="vm.competitorSelected(evCompetitor)">
                    <div class="col-lg-4 cell">
                        <div>
                            <div class="skater-image pull-left"><img ng-src="{{evCompetitor.picture}}" /></div>
                            <div class="skater-name" ng-repeat="evName in evCompetitor.names">{{evName}}</div>
                        </div>
                    </div>
                    <div class="col-lg-2 cell" ng-repeat="evOverviewStat in vm.OverviewStats.stats_tracked | limitTo:vm.maxNumListViewStats">
                        {{vm.parseOverviewStats(evOverviewStat.stat_id, evCompetitor)}}
                    </div>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- end FILTERED LIST -->
    </div>
</div>

