<div>
    <!-- EVENT HEADER -->
    <div class="container-fluid" id="section-event">
        <div class="col-lg-12">
            <h1>Skate Canada International 2014</h1>
            <h2>Veriskate</h2>
        </div>
    </div>
    <!--!end EVENT HEADER -->
    
    <!-- CONTENT -->
    <div class="container-fluid" id="section-content">
        <div ng-view></div>
    </div>
    <!--!end CONTENT -->
    
    <!-- FOOTER -->
    <div class="container" id="section-footer">
        <p>&copy; Veriskate</p>
    </div>
    <!--!end FOOTER -->
</div>